/* FONT CONNECTION
==================================================*/

@font-face {
    font-family: 'FuturaBookC';
    src: url('../fonts/FuturaBookC.eot');
    src: url('../fonts/FuturaBookC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaBookC.woff2') format('woff2'),
        url('../fonts/FuturaBookC.woff') format('woff'),
        url('../fonts/FuturaBookC.ttf') format('truetype'),
        url('../fonts/FuturaBookC.svg#FuturaBookC') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaDemiC';
    src: url('../fonts/FuturaDemiC.eot');
    src: url('../fonts/FuturaDemiC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaDemiC.woff2') format('woff2'),
        url('../fonts/FuturaDemiC.woff') format('woff'),
        url('../fonts/FuturaDemiC.ttf') format('truetype'),
        url('../fonts/FuturaDemiC.svg#FuturaDemiC') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaMediumC';
    src: url('../fonts/FuturaMediumC.eot');
    src: url('../fonts/FuturaMediumC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaMediumC.woff2') format('woff2'),
        url('../fonts/FuturaMediumC.woff') format('woff'),
        url('../fonts/FuturaMediumC.ttf') format('truetype'),
        url('../fonts/FuturaMediumC.svg#FuturaMediumC') format('svg');
    font-weight: 500;
    font-style: normal;
}

/* SPECIFICATION
==================================================*/

body {
    font-family: 'FuturaBookC';
    font-size: 14px;
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #FFFFFF;
}

.normal-btn {
    font-family: 'FuturaDemiC';
    font-size: 13px;
    text-align: center;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
}

.transparent-btn {
    font-family: 'FuturaDemiC';
    font-size: 13px;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

/* HEADER
==================================================*/

.header {
    background: #131313;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 82px;
}

.header__logo {
    font-family: 'FuturaDemiC';
    color: #E3B873;
}

.header__logo-link:link,
.header__logo-link:visited,
.header__logo-link:hover,
.header__logo-link:active {
    color: #E3B873;
}

.header__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 47px;
}

.header__item:hover,
.header__item:active {
    color: #E3B873;
}

.header__item:last-child {
    margin-right: 0;
}

.header__item--active {
    color: #E3B873 !important;
}

.header__contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 320px; */
}

.header__phone {
    font-family: 'FuturaDemiC';
    border-bottom: 1px solid #E3B873;
    color: #E3B873;
    margin-right: 45px;
}

.header__request-btn {
    line-height: 37px;
    width: 161px;
    height: 37px;
}

.header__row {
    height: 707px;
    display: flex;
    align-items: center;
}

.header__inst {
    position: relative;
    font-family: 'FuturaDemiC';
    width: 82px;
    color: #E3B873;
    transform: rotate(90deg);
    margin-top: -150px;
}

.header__inst:after {
    position: absolute;
    content: '';
    display: block;
    width: 1.5px;
    height: 50px;
    background-color: #E3B873;
    transform: rotate(90deg);
    left: 110px;
    bottom: -17px;
}

.header__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 60px;
    height: 100%;
    width: 100%;
    background: #131313 url(/img/header/1.jpg) bottom center / cover no-repeat;
}

.header__title {
    font-family: 'Yeseva One', cursive;;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 19px;
}

.header__title--active {
    color: #E3B873;
}

.header__subtitle {
    font-family: 'FuturaBookC';
    font-size: 22px;
    margin-bottom: 41px;
}

.header__btn-wrap {
    display: flex;
    align-items: center;
}

.header__calculate-btn {
    height: 51px;
    width: 207px;
    line-height: 51px;
    margin-right: 20px;
} 
  
.header__submit-btn {
    height: 49px;
    width: 205px;
    line-height: 49px;
}